.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar-inverse .navbar-text{
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 25px;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
    padding-top: 21px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #fed136;
    outline: 0;
}

/*Portada*/

.texto-welcome{
    color: whitesmoke;
    padding: 225px;
}

#titulo{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 60px;
}

.container{
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

     /*Portada-Botón*/
}
#row-1{
    color: whitesmoke;
    margin-top: 220px;


}

 a.btn-home{
    margin-top: 30px;
    color: #fff;
    background-color: #ffd633;
    border-radius: 4px;
    font-size: 20px;
    padding: 20px 40px;
    font-family: Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;


}

a:hover {
   background-color: #ffcc00;
   text-decoration: none;

   }
 #subtitulo{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 25px;
}
.btn-home {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
 }

/*Seccipon servicios*/

#text-superior{
    padding: 20px;
}

.fa {
    display: inline-block;
    font: 14px;
}
.fa-stack-2x {
    font-size: 6em;
    color: #ffd633;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    }
.fa-stack-1x {
    font-size: 3em;
    padding: 11px 5px;
    color: #fff;
}



.serv {
    font-size: 14px;
    line-height: 1.75;
    color: black;
    margin-top: 91px;
    padding: 3px;
}


.texto{
    color:#777;
}

.titulo-serv{
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.parrafo-serv{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;

}


#portafolio{
    background-color:  #eee;
    margin-top:  15px;
}
 .caja-ima{
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}
.sub-ima{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}

.contenedor-ima {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  background: rgba(254,209,54,.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

.contenedor-ima:hover .overlay {
  opacity: 1;
}

.texto-ima {
  color: white;
  font-size: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*sección 4*/
.timeline>li .timeline-panel {
    width: 50;
    float: left;
    padding: 39px 0px 0px 0px;
    margin-left: 300px;

}

li{
     list-style: none;

}

.timeline > li .timeline-panel {
    width: 50;
    float: left;
    padding: 53px 125px 0px 0px;
    margin-left: 244px;

}
.about1{
    left: 0;
    margin-left: 548px;
    margin-top: 104px;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
}
.text-about{
 
    color: #777;
    font-size: 14px;
    line-height: 1.75;

}
.timeline-heading{

    font-size: 14px;
    line-height: 1.75;

}

.about2{
    left: 0;
    margin-left: 560px;
    margin-top: 66px;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;

}
.timeline-panel2{
    width: 50%;
    position: absolute;
    margin-left: 653px;
    margin-top: 30px;
    text-align: left;
    padding: 0 36px 0 87px;
}

.timeline-heading2{

    font-size: 14px;
    line-height: 1.75;
}

.timeline3 > li .timeline-panel3 {
    width: 50;
    float: left;
    padding: 322px 125px 0px 0px;
    margin-left: 244px;

}
.about3{
    left: 0;
    margin-left: 548px;
    margin-top: 370px;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
}
.text-about3{
 
    color: #777;
    font-size: 14px;
    line-height: 1.75;

}
.timeline-heading3{

    font-size: 14px;
    line-height: 1.75;

}

.fa-stack-4x  {
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
    list-style: none;
    left: 0;
    margin-left: 555px;
    margin-top: 350px;
    width: 180px;
    height: 180px;
    background-size: cover;
}

#caja-team{
    margin-top: 600px;
}

.img-team{
    border-radius: 100%;
    padding: o;
    margin-top: 100px;

}